<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MedInventory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">List view</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#" data-toggle="modal" data-target="#newItemModal">Add item</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!-- New Item Modal -->
<div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newItemModalLabel">New item</h4>
      </div>
      {% form_theme form 'bootstrap_3_layout.html.twig' %}
      {{ form_start(form) }}
        <div class="modal-body">
          <div class="form-group">
            {{ form_row(form.name, {'attr': {'placeholder':'Manufacturer name of the item'}}) }}
            {{ form_row(form.description, {'attr': {'placeholder':'Note about the medicine'}}) }}
            {{ form_row(form.stock_hospital, {'attr': {'placeholder':'#'}}) }}
            {{ form_row(form.stock_private, {'attr': {'placeholder':'#'}}) }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{ form_widget(form.send, { 'attr': {'class': 'btn-primary'}, 'label': 'Save' }) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
