{% extends 'base.html.twig' %}

{% block title %}Stock Overview{% endblock %}

{% block body %}
<div class="container" role="main">
  <table id="inventory" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Drug</th>
        <th>Description</th>
        {% for item in suppliers %}
        <th>Stock: {{ item.name }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tfoot>
        <th>Drug</th>
        <th>Description</th>
        {% for item in suppliers %}
        <th>Stock: {{ item.name }}</th>
        {% endfor %}
        <th></th>
    </tfoot>
    <tbody>
    {% for item_id, item in items %}
      <tr data-supplier-item-id="{{ item_id }}">
        <td class="first">{{ item.name }}</td>
        <td class="second">{{ item.description }}</td>
        {% for supplier_id, supplier_item in item.suppliers %}
        <td class="supplier">
          {# Decide color based on stock level  #}
          {% if supplier_item.qty == 0 %}
            {% set class = 'default' %}
          {% elseif supplier_item.qty < 100 %}
            {% set class = 'danger' %}
          {% else %}
            {% set class = 'success' %}
          {% endif %}
          <h4><span class="label label-{{ class }}">{{ supplier_item.qty }}</span></h4>
          {% if not supplier_item.qty <= 0 %}
          <div class="input-group">
            <input type="text" data-supplier-item-id="{{ supplier_item.id }}" class="stock-qty form-control" placeholder="1" size="1">
            <span class="input-group-btn">
              <button class="btn btn-default btn-minus">
                <i class="glyphicon glyphicon-minus-sign"></i>
              </button>
            </span>
          </div>
          {% endif %}
        </td>
       {% endfor %}
        <td>
          <div class="btn-group" role="group">
            <button class="btn btn-primary btn-edit" data-toggle="modal" data-target="#newItemModal">
              <i class="glyphicon glyphicon-list-alt"></i>
            </button>
            <button class="btn btn-danger btn-delete">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </button>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
