{% extends 'base.html.twig' %}

{% block title %}Stock Overview{% endblock %}

{% block body %}
<div class="container" role="main">
  <table id="inventory" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Item</th>
        {% for item in suppliers %}
        <th>Stock: {{ item.name }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tfoot>
        <th>Item</th>
        {% for item in suppliers %}
        <th>Stock: {{ item.name }}</th>
        {% endfor %}
        <th></th>
    </tfoot>
    <tbody>
    {% for item in items %}
      <tr>
        <td class="item">{{ item.name }}</td>
        {% for supplier_item in item.suppliers %}
        <td>
          {# Decide color based on stock level  #}
          {% if supplier_item.qty < 100 %}
            {% set class = 'danger' %}
          {% else %}
            {% set class = 'success' %}
          {% endif %}
          <h4><span class="label label-{{ class }}">{{ supplier_item.qty }}</span></h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="1" size="1">
            <span class="input-group-btn">
              <button data-supplier-id='{{ supplier_item.id }}' class="btn btn-default">
                <i class="glyphicon glyphicon-minus-sign"></i>
              </button>
            </span>
          </div>
        </td>
       {% endfor %}
        <td>
          <button class="btn btn-primary">
            <i class="glyphicon glyphicon-list-alt"></i>
            Edit
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
